<script>
    import {onMount} from 'svelte';
    let frame;
    let url = "https://www.e-salus.com/InternetCitasAgenda/COAR/principal.aspx?lang=es";
    let turnos = [];
    

    export function getTurnos(doctor){
        switch(doctor){
            case 0:
                console.log('se elegio a jen');
                break;
            case 1:
                console.log('se eligio al hermano de jen');
                break;
        }
    }
    onMount(()=>{
        
    })
    function alCargar(e){
        e.preventDefault();
        let MyIFrameDoc = (frame.contentWindow || frame.contentDocument);
        if (MyIFrameDoc.document) MyIFrameDoc = MyIFrameDoc.document;
        
        console.log(MyIFrameDoc);
    }
</script>

<div>resultados.</div>