<script>
    import { navigate } from "svelte-routing";
    function volver(e){
        navigate("/", { replace: true });
    }
</script>
<div class="contenedor">
    <div class="disculpas">
        <h3>Lo sentimos, la página para pedir turnos se encuentra en construcción...</h3>
        <button on:click={volver}>Volver al Inicio</button>
    </div>
</div>

<style>
    .contenedor{
        width: 100vw;
        max-width: 100%;
        height: calc(100vh - 20vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #29A0C7;
        color: white;
    }
    button{
        color: white;
        background: #05456F;
        border: none;
        width: 40%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    button:hover{
        background: grey;
    }
</style>