<script>
	import {onMount} from 'svelte';
	let cargado = false;
	import Hero from '../componentes/hero.svelte';
	import Contacto from '../componentes/contacto.svelte';
	import Nosotros from '../componentes/nosotrosFinal.svelte';
	import Lugar from '../componentes/lugar.svelte';
	import Tecnologia from '../componentes/tecnologia.svelte';
	import Cargador from './load.svelte';
	function cargar(event){
		cargado = true;
		console.log(event.detail.text);
	}
</script>
{#if cargado}
	<Hero />
	<Nosotros />
	<Lugar />
	<Tecnologia />
	<Contacto />
{:else}
	<Cargador on:load={cargar}/>
{/if}