<script>
    import {onMount} from 'svelte';
    import {createEventDispatcher} from 'svelte';
    const dispatch = createEventDispatcher();
    let contenedor;
    let imagenes = ['/assets/hero.png','/assets/galeria/i6-min.jpeg','/assets/adentro5.jpg','/assets/interior3.jpg',"/assets/galeria/i3-min.JPG","/assets/galeria/i1-min.JPG",
    "/assets/galeria/i2-min.JPG","/assets/galeria/i5-min.JPG","/assets/puerta.jpg","/assets/interior1.png","/assets/interior2.png","/assets/lugar.JPG"];
    let index = 0;
    onMount(()=>{
        preloadImages(0);
    });
    function preloadImages(index){
        console.log(imagenes[index]);
        let imagen = new Image();
        contenedor.appendChild(imagen);
        imagen.src = imagenes[index];
        imagen.onload = function(e){
            console.log('cargo imagen '+imagenes[index]);
            index++;
            if (index < imagenes.length){
                preloadImages(index);
            } else {
                dispatch('load',{text:'cargo'});
            }
        }
    }
</script>

<div class="loading">
    <div id="cargador"></div>
    <div bind:this={contenedor} class="contenedor"></div>
</div>


<style>
    .contenedor{
        display: none;
    }
    .loading{
        width: 100vw;
        max-width: 100%;
        height: calc(100vh - 20vh);
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #cargador{
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #05456F;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    #cargador:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #29A0C7;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }
    #cargador:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: lightgray;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>