@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
html, body {
	scroll-behavior: smooth;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	width: 100vw;
	max-width: 100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}

@keyframes cd-bounce-right {
    0% {
        opacity: .2;
        transform: translateX(-200px);
    }
    60% {
        opacity: .7;
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes cd-texto-opacity {
    0% {
        opacity: .2;
    }
    60% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cd-bounce-center {
    0% {
        opacity: .2;
        transform: translateY(-50px);
    }
    60% {
        opacity: .7;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes cd-bounce-mouse {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes cd-bounce-left {
    0% {
        opacity: .2;
        transform: translateX(200px);
    }
    60% {
        opacity: .7;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}