<script>
    import {onMount, onDestroy} from "svelte";
    let texto = 0;
    const interval = setInterval(() =>{
        if (texto < 1){
            texto += 1;
        } else {
            texto = 0;
        }
    }, 5000);
    onDestroy(()=>{
        clearInterval(interval);
    })

</script>
<style>
    .header{
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background: white;
        width: 100vw;
        max-width: 100%;
        margin: 0;
        padding: 0px 5vw;
        height: 20vh;
    }
    .subtitulo{
        position: absolute;
        bottom: 10%;
        left: 16vw;
        height: auto;
        font-size: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        color: #05456F;
        z-index: 200;
    }
    img{
        height: 90%;
        align-self: center;
        width: auto;
        animation: cd-bounce-right;
        animation-duration: .5s;
    }
    nav{
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        animation: cd-bounce-left;
        animation-duration: .5s;
    }
    .subHeader{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: lightgray;
        width: 100vw;
        margin: 0;
        padding: 0px 5vw;
        max-width: 100%;
        height: 3vh; 
    }
    .subHeader > p {
        margin: 0;
        margin-right: 10px;
        padding: 0;
        animation: cd-texto-opacity;
        animation-duration: .5s;
    }
    .redes{
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        animation: cd-bounce-left;
        animation-duration: .5s;
    }
    nav > a{
        color: black;
        text-decoration: none;
        margin: 1vw;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
    }
    .subHeader > a {
        color: black;
        text-decoration: none;
        margin-right: 10px;
    }
    a:hover{
        color: lightblue;
    }
    @media only screen and (max-width: 800px) {
        .header{
            height: 30vh;
            justify-content: center;
        }
        .subHeader{
            display: none;
        }
        nav{
            display: none;
        }
    }
    #verde{
        color: green;
    }
</style>

<div class="header" id="inicio">
    <img src="/assets/logo.png" alt="Logo Coar">
    <div class="subtitulo">
         <div class="item"><b>Dr. Jen Liberman</b></div>
         <div class="item"><b>Dr. I.Dario Liberman</b></div>
    </div>
    <nav>
        <a href="/">Inicio</a>
        <a href="/#nosotros">Sobre Nosotros</a>
        <a href="/#contacto">Contacto</a>
    </nav>
</div>
<div class="subHeader">
    <a href="tel:+542914518777"><i class="fas fa-phone"></i> 0291 - 4518777</a>
    <a href="https://api.whatsapp.com/send?phone=542914618705" ><i class="fab fa-whatsapp" id='verde'></i> 0291 - 4618705</a>
    {#if texto == 0}
        <p><i class="fas fa-map-marker-alt"></i> caronti 578, Bahia Blanca, Argentina</p>
    {:else if texto==1}
        <p><i class="far fa-clock"></i> Lunes A viernes de 9hs a 18hs.</p>
    {/if}
</div>