<script>
    let nombre = '';
    let apellido = '';
    let email = '';
    let asunto = '';
    let mensaje = '';
    let alerta = '';
    function handleEnviar(){
        Email.send({
            SecureToken : "1560bf0b-5f77-4c61-9d7b-d6bdbe2e6a43",
            To : 'grrcodebar@gmail.com',
            From : email,
            Subject : asunto,
            Body : nombre + ' ' + apellido + ': ' + mensaje
        }).then(
            message =>{
                console.log(message);
                if (message == 'OK'){
                    alerta = 'Mensaje Enviado correctamente.'
                    nombre = '',
                    apellido = '';
                    email = '';
                    asunto = '';
                    mensaje = '';
                } else {
                    alerta = 'El mensaje no pudo enviarse, disculpe las molestias.'
                }
            }
        );
    }
</script>
<style>
    .contacto{
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .mapa{
        width: 25vw;
        height: 70vh;
        background: #29a0c7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: white;
    }
    .mapa > p,a {
        align-self: flex-start;
        padding: 0;
        padding-left: 3vh;
        margin: 0;
        margin-bottom: 1vh;
        color: white;
        text-decoration: none;
    }
    .formulario{
        width: 50vw;
        height: 70vh;
        background: lightgray;
        padding-left: 3vw; 
    }
    iframe{
        width: calc(100% - 6vh);
        height: 21vw;
        margin: 3vh;
    }
    button{
        color: white;
        background: #05456F;
        border: none;
        width: 40%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button:hover{
        background: #29a0c7;
    }
    .fila{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: calc(100% - 3vw);
        margin: 1vh 0px;
    }
    .boton{
        justify-content: center;
    }
    input[type="text"],textarea{
        height: 100%;
        width: 100%;
    }
    textarea{
        height: 30vh;
        resize: none;
    }
    .divisor{
        width: 3vh;
        height: 100%;
        content: "";
    }
    @media only screen and (max-width: 800px) {
        .contacto{
            flex-direction: column;
        }
        .mapa{
            width: 90vw;
            height: 40vh;
        }
        iframe{
            width: 90%;
            height: 20vh;
        }
        .mapa > p {
            font-size: .8rem;
        }
        .formulario{
            box-sizing: border-box;
            width: 90vw;
            height: 50vh;
        }
        .primero{
            justify-content: space-between;
        }
        .primero > input[type="text"]{
            box-sizing: border-box;
            width: 45%;
        }
        .divisor{
            display: none;
        }
        input[type="text"],textarea{
        height: 100%;
        width: 100%;
        }
        textarea{
            height: 20vh;
            resize: none;
        }  
    }
</style>
<div class="contacto" id="contacto">
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.4470434425903!2d-62.26566468465522!3d-38.707544179600454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95edbd017448fa53%3A0xc627d243624a963!2sCOAR%20(Centro%20Oftalmol%C3%B3gico%20de%20Alta%20Resoluci%C3%B3n)!5e0!3m2!1ses-419!2sar!4v1573602498140!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" title="mapa"></iframe>
        <p><i class="fas fa-map-marker-alt"></i> Caronti 578 Bahia Blanca</p>
        <a href="tel:+542914518777"><i class="fas fa-phone"></i> 0291 - 4518777</a>
        <a href="https://api.whatsapp.com/send?phone=542914618705" ><i class="fab fa-whatsapp"></i> 0291 - 4618705</a>
        <p><i class="fas fa-envelope"></i> caronti578coar@gmail.com</p>
        <a href="https://www.facebook.com/centrooftalmologicodealtaresolucion"> <i class="fab fa-facebook"></i> COAR</a>
    </div>
    <div class="formulario">
        <h3>contactate con nosotros</h3>
        <p>{alerta}</p>
        <div class="form">
            <div class="fila primero">
                <input type="text" placeholder="Nombre" bind:value={nombre}>
                <div class="divisor"></div>
                <input type="text" placeholder="Apellido" bind:value={apellido}>
            </div>
            <div class="fila">
                <input type="text" placeholder="Email" bind:value={email}>
            </div>
            <div class="fila">
                <input type="text" placeholder="Asunto" bind:value={asunto}>
            </div>
            <div class="fila">
                <textarea placeholder="Escribe tu mensaje aqui." bind:value={mensaje}></textarea>
            </div>
            <div class="fila boton">
                <button on:click={handleEnviar}>Enviar</button>
            </div>
        </div>
    </div>
</div>