<script>
      import { navigate } from "svelte-routing";
      function enviar(e){
          e.preventDefault();
          navigate("/turno", { replace: true });
      }
</script>
<style>
    .hero{
        position: relative;
        box-sizing: border-box;
        width: 100vw;
        max-width: 100%;
        height: 80vh;
        overflow: hidden;
        font-size: 0.8rem;
    }
    img{
        position: relative;
        object-fit: cover;
        object-position: 0px -20vh;
    }
    .turno{
        position: absolute;
        right: 5vw;
        top: 10vh;
        width: 30vw;
        height: 30vh;
        background: white;
        animation: cd-bounce-left;
        animation-duration: .8s;
    }
    .cabecera{
        box-sizing: border-box;
        width: 100%;
        height: 10vh;
        background: #29a0c7;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 10px;
    }
    h3{
        margin: 0;
        padding: 0;
    }
    .cuerpo{
        width: 75%;
        height: calc(90% - 10vh);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .cuerpo > p{
        margin: 0;
        padding: 0;
    }
    button{
        color: white;
        background: #05456F;
        border: none;
        width: 40%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button:hover{
        background: #29a0c7;
        cursor: pointer;
    }
    button:focus{
        background: white;
        color: #05456F;
    }
    @media only screen and (max-width: 800px) {
        img{
            height: 100%;
            object-fit: cover;
            object-position: -50vw 0;
        }
        .turno{
            width: 90vw;
        }
    }
</style>

<div class="hero">
    <img src="/assets/hero.png" alt="Foto desde fuera de Coar">
    <div class="turno">
        <div class="cabecera">
            <h3>Turnos Online</h3>
        </div>
        <div class="cuerpo">
            <p>Como pensamos en tu tiempo.<br/>
            Te brindamos como servicio el poder pedir tu turno las 24hs, en cualquier dia de la semana de manera online.</p>
            <button on:click={enviar}>Pedir Turno</button>
        </div>
    </div>
</div>