<script>
    import {onMount, onDestroy} from "svelte";
    let texto = 0;
    const interval = setInterval(() =>{
        if (texto < 4){
            texto += 1;
        } else {
            texto = 0;
        }
    }, 5000);
    onDestroy(()=>{
        clearInterval(interval);
    })
</script>
<style>
    .lugar{
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background: #29a0c7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .datos{
        box-sizing: border-box;
        width: 25vw;
        height: 70vh;
        padding: 3vw;
        background: #05456F;
        color: white;
        
    }
    .imagen{
        width: 50vw;
        height: 70vh;
        overflow: hidden;
        background: white;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: cd-texto-opacity;
        animation-duration: .5s;
    }
    @media only screen and (max-width: 800px) {
        .lugar{
            flex-direction: column;
        }
        .datos{
            width: 90vw;
            height: 40vh;
            overflow: hidden;
        }
        .datos > p{
            font-size: .7rem;
        }
        .imagen{
            width: 90vw;
            height: 30vh;
            overflow: hidden;
        }
        .imagen > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
</style>
<div class="lugar">
    <div class="datos">
        <h3>Nuestro Centro</h3>
        <p>
            Ubicado en Bahía Blanca, sobre calle Caronti 578. Especialmente diseñado y pensado para brindar a nuestros pacientes una atmósfera confortable, sin dejar de mantener la calidad de atención personal y humana. Con la más alta tecnología, fundamental para alcanzar una oftalmológica de excelencia, con los estándares de los mejores centros del país y del mundo.
        </p>
    </div>
    <div class="imagen">
        {#if texto == 0}
            <img src="/assets/puerta.jpg">
            
        {:else if texto == 1}
            <img src="/assets/interior1.png">
        {:else if texto == 2}
            <img src="/assets/interior2.png">
        {:else if texto == 3}
            <img src="/assets/lugar.JPG">
        {/if}
    </div>
</div>
