<script>
    import Nosotros2 from './nosotros2.svelte'; 
</script>
<style>
    .nosotros{
        width: 100vw;
        max-width: 100%;
        height: 60vh;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .extra{
        width: 25vw;
        height: 50vh;
        background: #29a0c7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: thin;
    }
    .extra > p {
        font-size: 1.5rem;
    }
    .datos{
        box-sizing: border-box;
        width: 50vw;
        height: 50vh;
        background: lightgray;
        padding-left: 3vw; 
    }
    .datos > p {
        width: 80%;
    }
    .destacado{
        width: 80vw;
        margin: 0px 10vw;
        max-width: 100%;
        height: 40vh;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item{
        width: 33.3%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .cabecera{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8vw;
        height: 8vw;
        border-radius: 4vw;
        background: lightgray;
    }
    .cabecera > i {
        font-size: 2.5rem;
        color: #29a0c7;
    }
    .item > p {
        width: 80%;
        text-align: center;
    }
    @media only screen and (max-width: 800px) {
        .nosotros{
            flex-direction: column;
        }
        .extra{
            width: 90vw;
            height: 10vh;
            flex-direction: row;
            justify-content: space-around;
        }
        .extra > p {
            font-size: .8rem;
        }
        .datos{
            width: 90vw;
            height: 40vh;
            overflow: hidden;
        }
        .datos > p {
            width: 95%;
            font-size: .8rem;
        }
        .destacado{
            height: 50vh;
            flex-wrap: wrap;
        }
        .item{
            width: 50%;
            height: 25vh;
        }
        .item > h3{
            font-size: 1rem;
            margin: 0;
        }
        .item > p{
            font-size: .7rem;
            margin: 0 auto;
            width: 85%;
        }
        .cabecera {
            width: 5vh;
            height: 5vh;
            border-radius: 2.5vh;
        }
        .cabecera > i {
            font-size: 1rem;
        }
    }
</style>
<div class="nosotros" id="nosotros">
    <div class="extra">
        <p>COAR - Bahía Blanca</p>
        <p>clínica y cirugía oftalmológica</p>
    </div>
    <div class="datos">
        <h3>Sobre Nosotros</h3>
        <p>
            Somos una Organización Oftalmológica orientada en brindar la mejor atención a nuestros pacientes,  para la prevención, tratamiento y control de enfermedades oculares. Estamos comprometidos con la excelencia, teniendo como objetivo, brindar un servicio de calidad, satisfaciendo las necesidades y expectativas de nuestros pacientes. Buscamos la solución a los problemas oculares mediante la aplicación experta de los mejores tratamientos.
        </p>
    </div>
</div>
<Nosotros2 />