<script>
    import {onMount, onDestroy} from "svelte";
    let diapositiva = 0;
    
    function siguiente(){
        if (diapositiva < 2){
            diapositiva += 1;
        } else {
            diapositiva = 0;
        }
    }
    function atras(){
        if (diapositiva > 0){
            diapositiva -= 1;
        } else {
            diapositiva = 2;
        }
    }
</script>
<div class="contenedor">
    <div class="botonera">
        <div class="boton" on:click={atras}><i class="fas fa-arrow-circle-left"></i></div>
        <div class="boton" on:click={siguiente}><i class="fas fa-arrow-circle-right"></i></div>
    </div>
    {#if diapositiva}
        <div class="lado">
            <div class="cuerpo">
                <div class="cabecera">
                    <i class="fas fa-user-md"></i>
                    <p>Nuestros Profesionales</p>
                </div>
                <div class="datos">
                    <p>Contamos con los mejores profesionales en el ambito, Liderados por los Doctores Jen y Dario Liberman,Nuestro Staff cuenta con una larga y solida trayectoria, altamente especializados y en continua formacion, le brindarán a usted una atención personalizada desde su llegada al centro, poniéndose a su entera disposición y explicándole cuáles son los estudios requeridos para diagnosticar su caso.
                Cada paciente es tratado preferencialmente. Todas las miradas son diferentes, todos los ojos son únicos.</p>
                </div>
            </div>
        </div>
    {:else}
        <div class="lado">
            <div class="cuerpo">
                <div class="cabecera">
                    <i class="far fa-eye"></i>
                    <p>Nuestro Trabajo</p>
                </div>
                <div class="datos">
                    <ul>
                        <li>Atencion a niños y adultos.</li>
                        <li>Estudio de Glaucoma</li>
                        <li>Enfermedad de la macula - Sindrome del ojo Seco</li>
                        <li>Pre Quirurhico para cirugia de cataratas</li>
                        <li>Cirugia del Parpado</li>
                        <li>ANGIO OCT</li>
                        <li>Estudio de Retinografia</li>
                    </ul>
                    <ul>
                        <li>Estudio de Cataratas</li>
                        <li>Analisis del Ojo Seco</li>
                        <li>Estudio de Campo visual computarizado</li>
                        <li>Analisis del endotelio corneal</li>
                        <li>Estudio de Topografia corneal</li>
                        <li>Estudio de Aberrometria</li>
                    </ul>
                </div>
            </div>
        </div>
    {/if}
</div>

<style>
    .botonera{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .boton{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
    }
    .boton > i {
        font-size: 40px;
        z-index: 300;
    }
    .contenedor{
        position: relative;
        box-sizing: border-box;
        margin: auto;
        width: 76vw;
        padding: 10px;
        max-width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lado{
        box-sizing: border-box;
        width: 100vw;
        height: 50vh;
    }
    .cuerpo{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        animation: cd-texto-opacity;
        animation-duration: .5s;
    }
    .cuerpo > .datos {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50vw;
        height: 40vh;
        background: lightgray;
        padding-left: 3vw; 
    }
    .cuerpo > .cabecera{
        box-sizing: border-box;
        width: 25vw;
        height: 40vh;
        background: #29a0c7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: thin;
    }
    .cabecera > i {
        font-size: 2.5rem;
    }
    .cabecera > p {
        font-size: 1.5rem;
    }
    .datos > p {
        width: 70%;
    }
    .datos > ul{
        padding: 0;
        width: 40%;
    }
</style>
