<script>
    import {onMount, onDestroy} from "svelte";
    let partes = [
        {
            titulo:'Sobre Nosotros',
            cuerpo:'Somos una Organización Oftalmológica orientada en brindar la mejor atención a nuestros pacientes,  para la prevención, tratamiento y control de enfermedades oculares. Estamos comprometidos con la excelencia, teniendo como objetivo, brindar un servicio de calidad, satisfaciendo las necesidades y expectativas de nuestros pacientes. Buscamos la solución a los problemas oculares mediante la aplicación experta de los mejores tratamientos.',
            foto:'/assets/galeria/i6-min.jpeg'
        },
        {
            titulo:'Nuestro Trabajo', 
            cuerpo:'Atencion a niños y adultos, Realizamos Estudios de Glaucoma, Enfermedad de la macula - Sindrome del ojo Seco, Estudio Prequirurgico de Catarata, Cirugia del Parpado, ANGIO OCT, Estudio de Retinografia, Estudio de Cataratas, Analisis del Ojo Seco, Estudio de Campo visual computarizado, Analisis del endotelio corneal, Estudio de Topografia corneal, Estudio de Aberrometria.',
            foto:'/assets/adentro5.jpg'
        },
        {
            titulo:'Nuestros Profesionales', 
            cuerpo:"Contamos con los mejores profesionales en el ambito, Liderados por los Doctores Jen y Dario Liberman,Nuestro Staff cuenta con una larga y solida trayectoria, altamente especializados y en continua formacion, le brindarán a usted una atención personalizada desde su llegada al centro, poniéndose a su entera disposición y explicándole cuáles son los estudios requeridos para diagnosticar su caso. Cada paciente es tratado preferencialmente. Todas las miradas son diferentes, todos los ojos son únicos.",
            foto:'/assets/interior3.jpg'
        }
    ];
    let activo = 0;
    const interval = setInterval(() =>{
        if (activo < partes.length - 1){
            activo += 1;
        } else {
            activo = 0;
        }
    }, 5000);
    onDestroy(()=>{
        clearInterval(interval);
    })
    
    function activar(i){
        activo = i;
        clearInterval(interval);
    }
</script>
<div class="contenedor" id="nosotros">
    <div class="items">
        {#each partes as parte,i}
            <div on:click={()=>{activar(i)}} class={(i === activo? "item activo" : "item")}></div>
        {/each}
    </div>
    <div class="foto">
        <img src={partes[activo].foto} alt="">
    </div>
    <div class="info">
        <h2>{partes[activo].titulo}</h2>
        <p>{partes[activo].cuerpo}</p>
    </div>
</div>

<style>
    .contenedor{
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background: white;
        font-size: 0.9rem;
    }
    .foto{
        position: absolute;
        width: 40vw;
        height: 70vh;
        left: 12vw;
        bottom: 0;
        z-index: 300;
        overflow: hidden;
    }
    .foto > img{
        height: 100%;
        object-fit: cover;
    }
    .info{
        position: absolute;
        right: 0px;
        bottom: 0px;
        background: #05456F;
        color: white;
        width: 70vw;
        height: 90vh;
        z-index: 150;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    .info > h2{
        margin: 0;
        width: 32vw;
        margin-right: 12vw;
        padding: 0;
    }
    .info > p{
        margin: 0;
        padding: 0;
        width: 32vw;
        margin-top: 20px;
        margin-right: 12vw;
    }
    .items{
        position: absolute;
        bottom: 20px;
        right: 10px;
        width: 50%;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 400;
    }
    .items > .item{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background: silver;
        margin: 10px;
        cursor: pointer;
    }
    .items > .item:hover{
        background: lightblue;
    }
    .items > .item.activo{
        background: white;
    }
    @media only screen and (max-width: 800px) {
        .foto{
            position: absolute;
            width: 70vw;
            height: 30vh;
            left: 15vw;
            top: 10px;
            z-index: 300;
            overflow: hidden;
        }
        .info{
            right: 5vw;
            bottom: 0px;
            background: #05456F;
            color: white;
            width: 90vw;
            height: 90vh;
            z-index: 150;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
        .info > h2{
            margin: 0;
            width: 80vw;
            margin-right: calc(10vw);
            padding: 0;
            text-align: center;
        }
        .info > p{
            margin: 0;
            padding: 0;
            width: 70vw;
            margin-top: 30px;
            margin-right: calc(10vw + 5px);
        }
        .items{
            position: absolute;
            bottom: 10px;
            right: 20vw;
            width: 60vw;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 400;
        }
        .items > .item{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: silver;
            margin: 10px;
            cursor: pointer;
        }
        .items > .item:hover{
            background: lightblue;
        }
        .items > .item.activo{
            background: white;
        }
    }
</style>