<script>
    var today = new Date();
    let fecha = today.getFullYear();
</script>
<style>
    footer{
        width: 100vw;
        max-width: 100%;
        height: 30vh;
        background: #05456F;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    img{
        height: 15vh;
        width: auto;
        object-fit: cover;
    }
    @media only screen and (max-width: 800px) {
        footer{
            justify-content: center;
        }
        p {
            font-size: .5rem;
        }
    }
</style>

<footer>
    <img src="/assets/logoPie.png" alt="Logo Coar Blanco">
    <p>Centro Oftalmológico de Alta Resolución - {fecha} - Bahia Blanca - Buenos Aires - Argentina</p>
</footer>