<script>
</script>
<style>
    .tecnologia{
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background: #29a0c7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    .galeria{
        width: 75vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fila{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imagen2{
        width: 50%;
        height: 100%;
        overflow: hidden;
    }
    .datos{
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        padding: 3vw;
        background: #05456F;
        color: white;
    }
    .imagen3{
        width: 33.3%;
        height: 100%;
        overflow: hidden;
    }
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    @media only screen and (max-width: 800px) {
        .fila:first-child{
            flex-direction: column;
            height: 60%;
        }
        .fila{
            height: 40%;
            width: 90vw;
        }
        .datos {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .datos > p {
            font-size: .7rem;
        }
        .imagen2{
            width: 100%;
            height: 20vh;
        }
        .imagen2 > img {
            object-position: 0 -70px;
        }
    }
</style>

<div class="tecnologia">
    <div class="galeria">
        <div class="fila">
            <div class="imagen2">
                <img src="/assets/galeria/i1-min.JPG" alt="Imagen de la Sala de Espera">
            </div>
            <div class="datos">
                <h3>Sabemos lo importante que es la salud de tus ojos</h3>
                <p>Por eso contamos con aparatología de última generación que le permite a nuestro cuerpo médico realizar la prestación mas eficiente en todos los servicios vinculados a una atención oftalmológica integral.</p>
            </div>
        </div>
        <div class="fila">
            <div class="imagen3">
                <img src="/assets/galeria/i3-min.JPG" alt="Imagen de la Sala de Espera">
            </div>
            <div class="imagen3">
                <img src="/assets/galeria/i2-min.JPG" alt="Imagen de la Sala de Espera">
            </div>
            <div class="imagen3">
                <img src="/assets/galeria/i5-min.JPG" alt="Imagen de la Sala de Espera">
            </div>
        </div>
    </div>
</div>