<script>
	  import { Router, Link, Route } from "svelte-routing";
	  import Cabecera from './componentes/cabecera.svelte';
	  import Load from './vistas/load.svelte';
    	import Pie from './componentes/pie.svelte';
	  import Home from './vistas/home.svelte';
	  import Turno from './vistas/turno.svelte';
	  import Construccion from './vistas/construccion.svelte';
	  let url = '';
</script>

<Router url="{url}">
	<Cabecera />
	<div>
		<Route path="/"><Home /></Route>
		<Route path="/turno"><Construccion /></Route>
	</div>
	<Pie />
</Router>